  <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title></title>
<!-- This stylesheet contains specific styles for displaying the map
 on this page. Replace it with your own styles as described in the
 documentation:
 https://developers.google.com/maps/documentation/javascript/tutorial -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.5/themes/classic/galleria.classic.css" />
<style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
        height: 100%;
    }
    .galleria { max-width: 700px; height: 350px; background: #000; }
    .infoWindow { text-align: center; position: relative; overflow: hidden; }
    .infoWindow h1 { cursor: pointer; }
    .infoWindow h1 span:last-of-type { display: none; }
    .infoWindow h1:hover span:first-of-type { display: none; }
    .infoWindow h1:hover span:last-of-type { display: inline-block; background-color: #ddd; border-radius: 5px; width: 100%; }
    .infoWindow form { position: absolute; top: 75px; width: 100%; height: 250px; background-color: white; }
    .infoWindow form input { padding: 10px; font-size: 1.25em; display: inline-block; margin-bottom: 25px; }

    .hide { opacity: 0; }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.5/galleria.min.js"></script>
</head>
<body>
<div id="map"></div>
<script>
  /* GOOGLE MAP */
function initMap() {

    //geocoder
    var geocoder = new google.maps.Geocoder;

    //center the map on (uluru?)
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });

    //create an array to hold marker objects
    var markers = [];

    //listen for click events on the map
    google.maps.event.addListener(map, "click", function(event){

      //geodecode (lat-long to location name)
        var location = {"location": {
                          lat: event.latLng.lat(),
                          lng: event.latLng.lng()
                        }};
        geocoder.geocode(location, function(results, status) {
            //adds read address (if possible) to location object
            if (status === "OK"){
                location.addr = results[0].formatted_address;
                location.id = location.addr.replace(/\W+/g, "-");
                createMarker(event, location);
            }
        });
    });

    function createMarker(event, location){

        //on click, create new marker at mouse x,y
        var marker = new google.maps.Marker({
          position: event.latLng,
            map: map
        });

        //center map
        map.panTo(event.latLng);

        //for that marker, create an infoWindow object
        //(one infoWindow per marker)
        var infoWindow = new google.maps.InfoWindow({
            content: getInfoWindow(location)
        });

        //open infoWindow right away
        infoWindow.open(map, marker);

        //when infoWindow is ready...
        google.maps.event.addListener(infoWindow, "domready", function(){

            //start Galleria
            Galleria.run("#" + location.id);

            //add click event listener on title (add images)
            document.querySelector("#" + location.id).parentNode.querySelector("h1").addEventListener("click", addImage);

        });

        //add click event listener on marker
        marker.addListener('click', function() {
            infoWindow.open(map, marker);
        });

    }

    function getInfoWindow(location){
        var html = "<section class='infoWindow'><h1><span>" + location.addr + "</span><span>Add Image</span></h1>";
        html += "<div id='" + location.id + "' class='galleria'>";
        html += "<img data-title='Kangaroo' data-description='Good eating, too!' src='http://www.australia.com/etc/designs/tourismaustralia/clientlibs/imgs/fallback/kangaroo_600_600.jpg' />";
        html += "<img data-title='Outback' data-description='driving in the outback' src='http://www.australia.com/content/australia/en_us/things-to-do/outback-australia/_jcr_content/mainParsys/hero/image.adapt.1663.medium.jpg' />";
        html += "</div></section>";
        return html;
    }

    function addImage(e){
        //header has been clicked on an infoWindow
        var infoWindow = e.target.parentNode.parentNode;

        //hide the Galleria
        infoWindow.querySelector(".galleria").className += " hide";

        //replace it with a form
        infoWindow.innerHTML += "<form method='POST' action='/addimage'><input name='title' placeholder='image title' /><input name='description' placeholder='image description' /><input type='file' name='file' /><input type='submit' value='Add Image' /></form>";

        //put cursor in first input
        infoWindow.querySelector("form input").focus();

        //add event listener on the submit button
        infoWindow.querySelector("input[type='submit']").addEventListener("click", function(e){
            //form will be submitted automatically
            //cleanup...

            //remove form
            infoWindow.removeChild(infoWindow.querySelector("form"));

            //show Galleria again
            var galleria = infoWindow.querySelector(".hide");
            galleria.className = "galleria";
            Galleria.run(galleria);

}
</script>
<script>
  /* GALLERIA */
  Galleria.loadTheme("https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.5/themes/classic/galleria.classic.js");
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZjD3jPk1OUFBjPzxN7nvN3LqUb_at6p8&callback=initMap">
</script>
</body>
</html>
